    
button{
    padding:20px 40px;
    font-size: 24px;
    border-radius: 4px; 
    border: none;
    display: block;
    margin-top: 15px;
    width: 30%;
  }
/*   
  button.pequeno{
    padding: 10px 20px;
    font-size: 14px;
  } */

  .roxo{
      background-color: purple;
      color: white;
  }

  .branco{
      border: 2px solid purple;
      background-color: white;
      color: purple;
  }

  .lilas{
      background-color: #e0b0ff;
      color: purple;
  }